<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.unisalestoem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/justlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.kevin.unisalestorm.Login"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.CreateAccount"
            android:label="@string/title_activity_create_account"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.mainPage"
            android:label="@string/title_activity_main_page" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.addItem"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.SingleItemView"
            android:label="@string/title_activity_single_item_view" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.myUploads"
            android:label="@string/title_activity_my_uploads" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.myUploadSingleList"
            android:label="@string/title_activity_my_upload_single_list" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.SingleItemViewSearch"
            android:label="@string/title_activity_single_item_view_search" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.edit"
            android:label="@string/title_activity_edit" >
        </activity>
    </application>

</manifest>
