<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.unisalestoem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.kevin.unisalestorm.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.CreateAccount"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.mainPage"
            android:label="@string/title_activity_main_page" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.addItem"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name="com.example.kevin.unisalestorm.SingleItemView"
            android:label="@string/title_activity_single_item_view" >
        </activity>
    </application>

</manifest>
